{% extends "::base.html.twig" %}

{% block title %}AppBundle:Welcome:PasswordReset{% endblock %}

{% block body %}
  {% if errorMsg %}
    <div id="errorMsg"><p>{{ errorMsg }}</p></div>
  {% endif %}

  {% if formView %}
    {{ form_start(formView) }}
      {{ form_widget(formView) }}
      <button type="submit" id='changepw_submit'>Change Password</button>
    {{ form_end(formView) }}
  {% endif %}
{% endblock %}